<!doctype html>
<html lang="en">
  <head>
    <style type="text/css">
        .main{
            margin-left: 160px;
            padding: 0px 10px;
        }
    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>File Uploader</title>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

    <div class="main">
        <div class="row jusitfy-content-center">
            <div class="col-8">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link {% block active_index %}{% endblock %}" href="{% url 'index' %}">Файлове</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block active_create %}{% endblock %}" href="{% url 'create_upload' %}">Добави файл</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block active_contracts %}{% endblock %}" href="{% url 'contracts' %}">Договори</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block active_signup %}{% endblock %}" href="{% if user.is_authenticated %}{% url 'logout' %}{% else %}{% url 'signup' %}{% endif %}">
                            {% if user.is_authenticated %}Изход{% else %}Вход{% endif %}
                        </a>
                    </li>
                </ul>
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </div>
  </body>
</html>
